<div id="<%= dom_id tweet %>">
  <div class="container">
    <div class="tweet">
        <div class="row">
            
            <div class="col-10">
                <div class="username"><%= tweet.username %></div>
                <div class="description"><%= tweet.description %></div>
                <div class="timestamp"><%= link_to "Show this tweet", tweet %></div>
                
            </div>
        </div>
    </div>
  </div>
</div>
